pdfplumber
pymupdf
langchain
langchain-community
langchain-openai
faiss-cpu
tiktoken
python-dotenv
regex
unidecode
pandas
matplotlib
streamlit
pandas
python-dotenv
faiss-cpu
langchain
langchain-community
langchain-openai
sentence-transformers
